# requirements.txt
torch==2.6.0
torchvision==0.21.0
streamlit>=1.36.0        
pandas>=2.2.2
sentence-transformers>=2.7.0 
psmiles @ git+https://github.com/kuennethgroup/psmiles 
scikit-learn>=1.4.0  
 
